{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block section %}
    <form action="/change_password" method="post" class="register">
        <h1>Reset Password</h1>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="New Password " type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" onchange="check_password(this)" title= "Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm New Password" type="password" onchange="check_password_conf(this)" required>
        </div>
        <button class="btn btn-primary" id="submit" type="submit" disabled="true">Submit</button>
    </form>
{% endblock %}

