{% extends "layout.html" %}

{% block title %}
    Forgot password?
{% endblock %}

{% block section %}
    <form action="/forgot_password" method="post" class="forgot_password">
        <h1>Forgot password?</h1>
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Enter registered e-mail" type="email" onchange="check_email(this)">
        </div>
        <button class="btn btn-primary" id="login_link" name="login_link" type="submit">Send Link</button>
    </form>
{% endblock %}
