{% extends "layout.html" %}


{% block title %}
    My List
{% endblock %}

{% block section %}
    <div class="section">
        <div class="title">
            <p class="newstitle"><span id="title_my">my</span>news</p>
        </div>
        <form action="/mylist" method="post" class="filter_select" >
            <nav class="filter_param">
                <input type="hidden" id="input_filter" name ="input_filter" value="filter">
                <ul>
                    <li><a id="select_filter_category" href="#">Filter Category</a>
                        <ul>
                            {% for category in my_categories %}
                            <li><a class ="filter_category" name="{{ category[0] }}" href="#" onclick="filter_category(this)">{{ category[0][0]|upper }}{{ category[0][1:]|lower }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <button class="btn btn-primary" id="submit" type="submit">Filter</button>
            </nav> 
        </form>
    </div>
{% endblock %}


{% block results %}
    <form action="/mylist" method="post" class="my_list">
        <div class= "my_news_list">
        {% for new in user_news %}   
            <section class="my_new_container">
                <a class="name" href="{{ new[4] }}">{{ new[3] }}</a>
                <p class="description">{{ new[5] }}</p>
                <div class="new_footer_f">
                    <p class="provider">{{ new[6]|upper }}</p>
                    <p class="date">{{ new[7][0:10] }}</p>
                </div>
                <div class="fav_icons">
                    <a class="share" href="mailto:?subject={{ new[3] }}&body=Hi there! Just read that article and thought you would like it too! {{ new[4] }}"><i class="bi bi-share" onmouseover="share_over(this)" onmouseout="share_out(this)" title="Share"></i></a>
                    <button onclick="return confirm('Are you sure you want to delete this item')" class="delete" name="delete" value="{{ new[3] }}"><i class="bi bi-trash3" onmouseover="trash_over(this)" onmouseout="trash_out(this)"></i></button>
                </div>    
            </section>
        {% endfor %}
        </div>
    </form>
{% endblock %}