{% extends "layout.html" %}

{% block script %} 
  <script type="text/javascript">
    function func_select_lan( thisObj )
    {
      var clicked_name = thisObj.name;
      var clicked_text = thisObj.innerText;
      document.getElementById("select_language").innerHTML = clicked_text
      document.getElementById("input_language").value= clicked_name
    }

    function func_select_categ( thisObj )
    {
      var clicked_name = thisObj.name;
      var clicked_text = thisObj.innerText;
      document.getElementById("select_category").innerHTML = clicked_text 
      document.getElementById("input_category").value= clicked_name
    }
  </script>

{% endblock %}

{% block title %}
    News List
{% endblock %}

{% block section %}
    <div class="section">
        <div class="title">
            {% if not session["user_id"] %}
                <p class="newstitle">news<span>{{ category }}</span></p>
            {% endif %}
        </div>
    
    <form action="/" method="post" class="select" >
        <nav class="search_param">
            <input type="hidden" id="input_language" name ="input_language" value="language">
            <ul>
                <li><a id="select_language" href="#">Language</a>
                    <ul>
                        <li><a class ="language" name="US" href="#" onclick="func_select_lan(this)">English</a></li>
                        <li><a class ="language" name="BR" href="#" onclick="func_select_lan(this)">Portuguese</a></li>
                        <li><a class ="language" name="FR" href="#" onclick="func_select_lan(this)">French</a></li>
                        <li><a class ="language" name="IT" href="#" onclick="func_select_lan(this)">Italian</a></li>
                        <li><a class ="language" name="CN" href="#" onclick="func_select_lan(this)">Chinese</a></li>
                    </ul>
                </li>
            </ul>
            <input type="hidden" id="input_category" name = "input_category" value="category">
            <ul>
                <li><a id= "select_category" href="#">Category</a>
                    <ul>
                        <li><a class ="category" name="Business" href="#" onclick="func_select_categ(this)">Business</a></li>
                        <li><a class ="category" name="Entertainment" href="#" onclick="func_select_categ(this)">Entertainment</a></li>
                        <li><a class ="category" name="Sports" href="#" onclick="func_select_categ(this)">Sports</a></li>
                        <li><a class ="category" name="World" href="#" onclick="func_select_categ(this)">World</a></li>
                    </ul>
                </li>
            </ul>
            <button class="btn btn-primary" id="submit" type="submit">Search</button>
        </nav> 
    </form>
    </div>
{% endblock %}


{% block results %}
    <form action="/" method="post" class="box_list">
        <div class= "news_list">
            {% for new in news_result %}
                <section class="new_container">
                    {% if new['image'] %}
                        <img src ="{{ new['image']['contentUrl'] }}"></img>
                        <a href="{{ new['url'] }}">{{ new["name"] }}</a>
                        <p id="provider">{{ new['provider'][0]['name'].upper() }}</p>
                    {% else %}
                        <a href="{{ new['url'] }}">{{ new["name"] }}</a>
                        <p id="description">{{ new['description'] }}</p>
                        <p id="provider">{{ new['provider'][0]['name'].upper() }}</p>
                    {% endif %}
                </section>
            {% endfor %}
        </div>
    </form>
{% endblock %}
