{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block section %}
    <form action="/register" method="post" class="register">
        <h1>Create your Account</h1>
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Name" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="E-mail" type="email" onchange="check_email(this)">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password " type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" onchange="check_password(this)" title= "Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password" onchange="check_password_conf(this)" required>
        </div>
        <button class="btn btn-primary" id="submit" type="submit" disabled="true">Register</button>
    </form>
{% endblock %}

